main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


.room-part{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100%;
}

.room-part .room-code{
    position: relative;
    text-align: center;
}

.room-part .room-code h1{
    background: rgba(13, 175, 204, 0.126);
    border: 2px rgba(13, 175, 204, 0.861) solid;
    border-radius: .4rem;
    transition: ease-in 0.1s;
    user-select: none;
    color: white;
    cursor: pointer;
    padding: .2rem;
}

.room-part .room-code h1:hover{
    background: rgba(13, 175, 204, 0.861);
    transition:  ease-in 0.1s;
}

.room-part .room-code h1:active{
    background: rgba(13, 175, 204, 0.559);
    transform: translateY(2px);
    transition: 0s;
}

.popup{
    display: none;
    position: absolute;
    background: rgba(13, 175, 204, 0.559);
    padding: .3rem;
    border-radius: .3rem;
    top: 75px;
    left: 65px;
}

.room-code p{
    padding: 1rem;
    font-size: 1.2rem;
    margin-top: 10px;
    color: white; 
}



.room-part .waiting-players{
    display: grid;
    grid-template-columns: repeat(5, 9rem);
    grid-template-rows: repeat(2, 9rem);
    gap: 1rem;
    width: 100%;
    height: 60%;
    align-content: center;
    justify-content: center;
}
.room-part .waiting-players .player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px rgba(13, 255, 255, 0.747) solid;
    border-radius: 9px;
    background: rgba(13, 175, 204, 0.126);
    color: white;
    text-transform: uppercase;
    grid-area: 'player';
}

.blur-bg{
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: 5px rgba(13, 175, 204, 0.619) solid;
    filter: blur(3px);
    z-index: -1;
}

.start-button{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5rem;
}

.start-button button{
    width: 20%;
    height: 65%;
    font-family: 'Nunito';
    font-size: 1.3rem;
    font-weight: 600;
    border: 2px rgba(13, 204, 204, 0.747) solid;
    outline: none;
    background: rgba(13, 204, 159, 0.126);
    cursor: pointer;
    text-transform: uppercase;
    border-radius: .4rem;
    color: white;
    transition: ease-in-out 0.1s;
}

.start-button button:hover{
    background: rgba(13, 204, 204, 0.747);
    box-shadow: 1px 1px rgba(13, 204, 204, 0.747), 2px 2px rgba(13, 204, 204, 0.747), 3px 3px rgba(13, 204, 204, 0.747);
    transform: translateX(-3px);
    height: 65.5%;
    padding-top: 1px;
    font-size: 1.4rem;
    transition: ease-in-out 0.1s;
}

.start-button button:active{
    background: rgba(13, 204, 204, 0.4);
    box-shadow: 1px 1px rgba(13, 204, 204, 0.747), 2px 2px rgba(13, 204, 204, 0.747), 3px 3px rgba(13, 204, 204, 0.747);
    transform: translateX(-3px);
    /* transform: translateY(2px); */
    transition: 0s;
}

.hide{
    display: none;
    position: absolute;
    width: 20%;
    height: 65%;
    background: rgba(177, 177, 177, 0.683);
    border-radius: .4rem;
}

.set{
    display: block !important;
}

.chat-part{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 100%;
    box-shadow: -1px 0px 10px rgb(0, 0, 0);
}

.chat-part .chat-header{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    height: 10%;
    background: rgba(13, 70, 204, 0.126);
    box-shadow: 1px 0px 6px rgba(12, 200, 234, 0.126);
    color: white;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}

.chat-part .chat-box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 93%;
    background: rgba(13, 175, 204, 0.126);
    margin-top: 16%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-part .chat-box .incoming-message{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 2.5rem;
    height: auto;
    margin-bottom: 1rem;
}

.chat-part .chat-box .outgoing-message{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    min-height: 2.5rem;
    height: auto;
    margin-bottom: 1rem;
}

.chat-part .chat-box .incoming-message .username{
    margin-left: 1rem;
    color: white;
}

.chat-part .chat-box .incoming-message .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(19, 220, 238);
    border-radius: .4rem .4rem .4rem 0;
    padding: 0 1rem;
    min-height: 1.7rem;
    height: auto;
    width: auto;
    max-width: 60%;
    word-wrap: break-word;
    word-break: break-all;
    margin-left: 1rem;
}

.chat-part .chat-box .outgoing-message .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(17, 214, 20);
    border-radius: .4rem .4rem 0 .4rem;
    padding: 0 1rem;
    min-height: 1.7rem;
    height: auto;
    width: auto;
    max-width: 60%;
    word-wrap: break-word;
    word-break: break-all;
    margin-right: 1rem;
}

.chat-part .send-message{
    width: 100%;
    height: 7%;
}

.chat-part .send-message form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-part .send-message input[type='text']{
    width: 80%;
    height: 100%;
    font-family: 'Nunito';
    font-size: 1.3rem;
    border: none;
    outline: none;
    background: rgba(13, 70, 204, 0.126);
    border-top: 2px rgba(13, 70, 204, 0.621) solid;
    color: white;
}

.chat-part .send-message input[type='submit']{
    width: 20%;
    height: 100%;
    font-family: 'Nunito';
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(13, 70, 204, 0.126);
    border-top: 2px rgba(13, 70, 204, 0.621) solid;
    color: white;
}

.chat-part .send-message input[type='submit']:hover{
    background: rgba(84, 135, 255, 0.427);
}

.chat-part .send-message input[type='submit']:active{
    background: rgba(49, 80, 152, 0.427);
}


